<!DOCTYPE html>
<html>
  <head>
    <title>Actionmailer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if model_signed_in?%>
  	<p>Hello  - <%= link_to "Sign_out", destroy_model_session_path, :method => 'delete'%></p>
  	<% end %>
    <%= yield %>
  </body>
</html>
